In [1]:
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import io
import urllib

url="https://earthquake.usgs.gov/fdsnws/event/1/query?format=csv&starttime=2016-01-01&endtime=2017-01-02&minmagnitude=4"
url_open = urllib.request.urlopen(url)
df=pd.read_csv(io.StringIO(url_open.read().decode('utf-8')), delimiter=',')

url2="https://earthquake.usgs.gov/fdsnws/event/1/query?format=csv&starttime=2017-01-02&endtime=2018-01-02&minmagnitude=4"
url_open2 = urllib.request.urlopen(url2)
df2=pd.read_csv(io.StringIO(url_open2.read().decode('utf-8')), delimiter=',')

url3="https://earthquake.usgs.gov/fdsnws/event/1/query?format=csv&starttime=2018-01-02&endtime=2019-01-02&minmagnitude=4"
url_open3 = urllib.request.urlopen(url3)
df3=pd.read_csv(io.StringIO(url_open3.read().decode('utf-8')), delimiter=',')
new_csv=pd.concat([df, df2,df3])

url4="https://earthquake.usgs.gov/fdsnws/event/1/query?format=csv&starttime=2019-01-02&endtime=2019-10-02&minmagnitude=4"
url_open4 = urllib.request.urlopen(url4)
df4=pd.read_csv(io.StringIO(url_open4.read().decode('utf-8')), delimiter=',')
new_csv=pd.concat([df, df2,df3,df4])

new_csv.describe()

,latitude,longitude,depth,mag,nst,gap,dmin,rms,horizontalError,depthError,magError,magNst
count,53012.000000,53012.000000,53012.000000,53012.000000,399.000000,52164.000000,52119.000000,53012.000000,52570.000000,53012.000000,51235.000000,51438.000000
mean,1.913806,33.881086,94.100527,4.527207,44.784461,110.647074,3.708661,0.826536,8.744687,5.448346,0.121068,42.236887
std,28.956847,124.354812,147.793950,0.398534,33.195457,51.058187,4.736407,0.263102,3.660162,4.205181,0.065083,61.336102
min,-79.983700,-179.998600,-1.010000,4.000000,4.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,-19.490875,-74.491875,10.000000,4.300000,23.000000,73.000000,1.170000,0.650000,6.300000,1.900000,0.073000,12.000000
50%,-3.321450,93.836300,33.750000,4.500000,36.000000,105.000000,2.379000,0.810000,8.200000,4.800000,0.112000,21.000000
75%,24.298700,141.889650,106.032500,4.700000,61.500000,142.000000,4.396000,0.990000,10.800000,7.900000,0.153000,45.000000
max,86.996400,179.999300,690.950000,8.200000,289.000000,346.000000,62.626000,2.530000,51.700000,69.300000,1.000000,941.000000