In [13]:
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import io
import urllib

url="https://earthquake.usgs.gov/fdsnws/event/1/query?format=csv&starttime=2016-01-01&endtime=2017-01-02&minmagnitude=4"
url_open = urllib.request.urlopen(url)
df=pd.read_csv(io.StringIO(url_open.read().decode('utf-8')), delimiter=',')

url2="https://earthquake.usgs.gov/fdsnws/event/1/query?format=csv&starttime=2017-01-02&endtime=2018-01-02&minmagnitude=4"
url_open2 = urllib.request.urlopen(url2)
df2=pd.read_csv(io.StringIO(url_open2.read().decode('utf-8')), delimiter=',')

url3="https://earthquake.usgs.gov/fdsnws/event/1/query?format=csv&starttime=2018-01-02&endtime=2019-01-02&minmagnitude=4"
url_open3 = urllib.request.urlopen(url3)
df3=pd.read_csv(io.StringIO(url_open3.read().decode('utf-8')), delimiter=',')
new_csv=pd.concat([df, df2,df3])

url4="https://earthquake.usgs.gov/fdsnws/event/1/query?format=csv&starttime=2019-01-02&endtime=2019-10-02&minmagnitude=4"
url_open4 = urllib.request.urlopen(url4)
df4=pd.read_csv(io.StringIO(url_open4.read().decode('utf-8')), delimiter=',')
new_csv=pd.concat([df, df2,df3,df4])

new_csv['country']= new_csv['place'].str.split(',').str[1]
new_csv.drop(columns =['place'], inplace = True)
new_csv.groupby('country', sort=True).count().sort_values(by = 'mag',ascending = False).head(10)

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,id,updated,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
country,,,,,,,,,,,,,,,,,,,,,
Indonesia,6572,6572,6572,6572,6572,6572,0,6572,6572,6572,...,6572,6572,6572,6572,6572,6518,6518,6572,6572,6572
Japan,3421,3421,3421,3421,3421,3421,0,3421,3421,3421,...,3421,3421,3421,3421,3421,3344,3345,3421,3421,3421
Papua New Guinea,3090,3090,3090,3090,3090,3090,0,3090,3090,3090,...,3090,3090,3090,3090,3090,3060,3060,3090,3090,3090
Fiji,2529,2529,2529,2529,2529,2529,0,2529,2529,2529,...,2529,2529,2529,2529,2529,2515,2516,2529,2529,2529
New Zealand,2392,2392,2392,2392,2392,2392,0,2380,2380,2392,...,2392,2392,2392,2392,2392,2338,2338,2392,2392,2392
Chile,2290,2290,2290,2290,2290,2290,0,2157,2157,2290,...,2290,2290,2290,2290,2290,2029,2029,2290,2290,2290
Philippines,2087,2087,2087,2087,2087,2087,0,2087,2087,2087,...,2087,2087,2087,2087,2087,2067,2067,2087,2087,2087
Alaska,1838,1838,1838,1838,1838,1838,1,1361,1355,1838,...,1838,1838,1838,1421,1838,1381,1382,1838,1838,1838
Russia,1758,1758,1758,1758,1758,1758,0,1755,1755,1758,...,1758,1758,1758,1756,1758,1742,1742,1758,1758,1758
Tonga,1568,1568,1568,1568,1568,1568,0,1568,1568,1568,...,1568,1568,1568,1568,1568,1549,1551,1568,1568,1568